
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body, html{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden
}
input{
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
input::placeholder{
    color: rgb(73, 72, 72);
}
input:focus{
    outline: none;
    box-shadow: none;
}
textarea{
    font-family: "Dancing Script", cursive;
}
textarea:focus{
    outline: none;
    box-shadow: none;
}
.click{
    cursor: pointer;
}
a{
    text-decoration: none;
}