.boxTodo{
    overflow: hidden;
    height: 50rem;
    border-radius: .75rem;
    padding: 2rem 2rem;
    background-color: #f8f5e9;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    
}
.boxH{
    overflow: hidden;
    height: 85vh;
    border-radius: .75rem;
    padding: 2rem 2rem;
    background-color: #fdfcf7;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    
}
.bg{
    background-color: #fdfcf7;

}
.bg2{
 background-color: #F3F6F4;
    border-left: 4px solid #4CAF50;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 12px;
}
.bdcolor{
   border:1px solid #e5e1cb; 
}

.mt{
    margin-top: .85rem;
}
.mt2{
    margin-top: 2.85rem;
}